//COLORS
$color-text-light: rgb(240, 248, 255);
$color-text-dark: rgb(151, 162, 171);
$color-white: white;
$color-background-primary-light: #FE9601;
$color-background-primary-dark:#f57105;
$color-background-secondary-light: rgb(33, 146, 186);
$color-background-secondary-dark: rgb(23, 97, 123);