html {
  font-size: 100%;
}

@media only screen and (max-width: 36em) {
  html {
    font-size: 85%;
  }
}

@media only screen and (max-width: 27em) {
  html {
    font-size: 80%;
  }
}

body {
  font-family: 'Dosis', sans-serif;
  text-align: left;
  margin: 3% 7%;
  color: aliceblue;
  background: -webkit-radial-gradient(#2192ba, #17617b);
}

@media only screen and (max-width: 36em) {
  body {
    margin: 3%;
    text-align: center;
  }
}

@media only screen and (max-width: 27em) {
  body {
    margin: 2%;
    text-align: center;
  }
}

.day-background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.6))), url(../src/Day-background.png);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../src/Day-background.png);
  background-size: cover;
}

.night-background {
  background: url(../src/Night-background.png);
  background-size: cover;
}

.heading-primary {
  font-size: 2rem;
}

.heading-primary__supplementary-heading {
  font-size: 1rem;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 600;
}

.heading-secondary {
  font-size: 1.75rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

@media only screen and (max-width: 36em) {
  .u-margin-top-medium {
    margin-top: 2rem;
  }
}

.u-margin-top-small {
  margin-top: 2rem;
}

@media only screen and (max-width: 36em) {
  .u-margin-top-small {
    margin-top: 1.5rem;
  }
}

.btn-search, .btn-search::after, .btn-search::before, .btn-search:visited {
  background-color: #FE9601;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  text-align: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.btn-search:hover {
  background-color: #f57105;
  cursor: pointer;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.btn-conversion {
  background-color: #FE9601;
  margin: 0.25rem 0;
  padding: 5px;
  border: none;
  border-radius: 90px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.btn-conversion:hover {
  background-color: #f57105;
  color: aliceblue;
  cursor: pointer;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.btn-conversion__link {
  color: white;
  text-decoration: none;
}

.btn-conversion__link:hover {
  color: aliceblue;
}

.form__search-engine {
  padding: 0.5rem;
}

.form__search-engine--search-box {
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}

.weather-panel {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 2rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-panel__main-title {
  margin-top: 1rem;
}

.weather-panel__weather-description {
  font-size: 1.6rem;
}

.weather-panel__weather-description::first-letter {
  text-transform: capitalize;
}

.weather-panel__list {
  list-style: none;
  padding-left: 1rem;
}

.weather-panel__list-item {
  padding: 1rem;
  font-size: 1.25rem;
}

.weather-panel__list-item::first-letter {
  text-transform: capitalize;
}

.weather-panel__main-icon {
  max-width: 14rem;
}

@media only screen and (max-width: 36em) {
  .weather-panel__main-icon {
    max-width: 10rem;
  }
}

.weather-panel__main-temperature {
  display: inline-block;
  margin-top: 2rem;
  font-size: 4rem;
}

.weather-panel__daylight-icon {
  max-height: 2rem;
}

.weather-panel__daylight-hours {
  font-size: 1.25rem;
}

.weather-forecast {
  margin: 1rem;
  text-align: center;
  font-size: 1.25rem;
}

.weather-forecast__row {
  margin-top: 1rem;
}

.weather-forecast__date {
  font-weight: 600;
}

.weather-forecast__temperature-max {
  color: white;
}

.weather-forecast__temperature-min {
  color: #97a2ab;
}

.footer {
  padding: 1rem;
  text-align: center;
}

.footer a {
  color: aliceblue;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.footer a:hover {
  color: #f57105;
}

.footer__logo {
  display: block;
  margin: 1rem auto;
  max-width: 2rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.footer__logo:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */