.footer {
    padding: 1rem;
    text-align: center;

    & a {
        color: $color-text-light;
        text-decoration: none;
        @include transition;

        &:hover {
            color: $color-background-primary-dark;
        }
    }

    &__logo {
        display: block;
        margin: 1rem auto;
        max-width: 2rem;
        @include transition;

        &:hover {
            transform: rotateY(180deg);
            cursor: pointer;
        }
    }
}