.weather-forecast {
    margin: 1rem;
    text-align: center;
    font-size: 1.25rem;

    &__row {
      margin-top: 1rem;
    }

    &__date {
      font-weight: 600;
    }

    &__temperature-max {
      color: $color-white;
    }

    &__temperature-min {
      color: $color-text-dark;
    }
}