.heading-primary {
    font-size: 2rem;
    
    &__supplementary-heading {
      font-size: 1rem;
    }
}

.heading-secondary {
    font-size: 2rem;
    font-weight: 600;
}

.heading-secondary {
    font-size: 1.75rem;
}