body {
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        margin: 100px 200px;
        color: aliceblue;
        background: url("../src/AppGenericBackground.png");
        background-size: cover;
    }

    h1 {
      font-size: 30px;
    }

    h3 {
      font-size: 22px;
      font-weight: bold;
    }

    h4 {
      font-size: 20px;
      font-weight: bold;
      margin-left: 20px;
    }

    ul {
      list-style: none;
      padding-left: 10px;
    }

    li {
      padding: 10px;
      font-size: 20px;
    }

    li:first-letter {
      text-transform: capitalize;
    }

    a {
        color: #064241;
    }

    footer {
      padding: 10px;
    }

    .btn-primary {
        background-color: #0c7472fa;
        border: none;
    }

    .btn-primary:hover {
        background-color: #064241;
        border: none;
    }

    .weather-panel {
      background-color: rgba(2, 83, 88, 0.50);
      border-radius: 30px;
      padding: 30px, 30px, 10px, 30px;
    }

    .icon {
      max-width: 100px;
      height: 100px;
    }

    .temperature {
      font-size: 60px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .active {
      color: #064241;
      background-color: aliceblue;
      cursor: default;
      text-decoration: none;
    }

    .active:hover {
      text-decoration: none;
    }

    .conversion {
      text-align: right;
    }

    .conversion-button {
      background-color: #6fd1cf;
      padding: 5px;
      border: none;
      border-radius: 40px;
      color: aliceblue;
      transition: all 200ms ease-in;
      text-decoration: none;
    }

    .weather-description {
      font-size: 30px;
    }

    .weather-description::first-letter {
      text-transform: capitalize;
    }

    .last-updated {
      font-size: 16px;
    }

    .daylight {
      font-size: 20px;
    }
