body {
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        margin: 100px 200px;
        color: aliceblue;
    }

    h1 {
      font-size: 30px;
    }

    h3 {
      font-size: 22px;
      font-weight: bold;
    }

    h4 {
      font-size: 20px;
      font-weight: bold;
    }

    ul {
      list-style: none;
      padding-left: 10px;
    }

    li {
      padding: 10px;
      font-size: 20px;
    }

    li:first-letter {
      text-transform: capitalize;
    }

    a {
        color: white;
        text-decoration: none;
        transition: all 200ms ease-in-out;
    }

    a:hover {
      color: paleturquoise;
      cursor: pointer;
    }

    footer {
      padding: 10px;
    }

    .day-background {
      background: url(../src/Day-background.png);
      background-size: cover;
    }

    .night-background {
      background: url(../src/Night-background.png);
      background-size: cover;
    }

    .btn-primary {
      background-color: #FE9601;
      border: none;
    }

    .btn-primary:hover {
      background-color: #d16004;
      cursor: pointer;
    }

    .weather-panel {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 30px;
      padding: 30px;
      text-align: center;
      align-items: center;
    }

    .icon {
      max-width: 200px;
      height: 200px;
    }

    .temperature {
      font-size: 60px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .conversion {
      text-align: right;
    }

    .conversion-button {
      background-color: #FE9601;
      padding: 5px;
      border: none;
      border-radius: 40px;
      color: aliceblue;
      transition: all 200ms ease-in-out;
      text-decoration: none;
    }

    .weather-description {
      font-size: 30px;
    }

    .weather-description::first-letter {
      text-transform: capitalize;
    }

    .last-updated {
      font-size: 16px;
    }

    .daylight {
      font-size: 20px;
    }

    .weather-forecast {
      margin: 15px;
      text-align: center;
      font-size: 18px;
    }

    .weather-forecast-date {
      font-size: 18px;
      color:azure;
    }

    .weather-forecast-temperature {
      font-size: 18px;
    }

    .weather-forecast-temperature-max {
      color:aliceblue;
    }

    .weather-forecast-temperature-min {
      color: #f0f8ffa2;
    }

    .daylight-icon {
      text-align: center;
    }